.warningMessage {
  color: red;
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
}

.container {
  display: flex;
  justify-content: space-between; 
  flex-direction: row;
}

.container1 {
  flex: 1; 
  margin-right: 10px; 
  flex-direction: column;
}

.container2 {
  flex: 1; 
  background-color: green; 
}

  .topicContainer {
    margin-top: 10px;
  }
  
  .topic {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }
  
  .firstSentContainer {
    margin-top: 10px;
  }
  
  .firstSentence {
    font-size: 18px;
    text-align: center;
  }

  .gradeTopicContainer{
    margin-top: 10px;
  }

  .gradeTopic{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
  }
  
  .gpaListcontainer {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .gradeRow {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center; 
    flex-direction: row;
    padding: 10px;
  }
  
  .gpaListText {
    margin-right: 20px;
    margin-left: 30px;
    font-size: 18px;
    font-weight: bold;
  }
  
  .gpaTextInput {
    margin-right: 20px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border-color: #4CAF50;
    border-width: 3px;
    font-size: 18px;
    width: 40px;
    text-align: center;
  }

  .yearTopicContainer{
    margin-top: 30px;
  }

  .yearTopic{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
  }
  
  .yearContainer {
    margin-top: 30px;
    margin-left: 30px;
  }
  
  .yearText {
    font-size: 20px;
    font-weight:700;
    color: gray;
  }
  
  .userValueContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .firstTextInput {
    background-color:white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    border-color: #4CAF50;
    border-width: 2px;
  }
  
  .okButtonContainer {
    display: inline-block; 
    margin-top: 10px;
  }
  
  .okButton {
    background-color: #4caf50; 
    border: none; 
    color: white;
    padding: 10px 20px; 
    text-align: center; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 8px; 
    /* width: 50px;
    height: 40px; */
  }

  .scrollViewContent {
    height: 200px; /* adjust the height as needed */
    overflow-y: scroll;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    max-width: 600px;
  }
  
  .rowContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;

  }
  
  .inputText {
    border: none;
    background-color: #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    width: 100px;
    text-align: center;
    margin-right: 10px;
  }
  
  .gradeInput {
    width: "50%";
    height: 30px;
    margin-right: 20px;
  }
  
  .creditInput {
    width: "50%";
    height: 30px;
  }

  .gpaButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .viewGpaButton {
    margin-top: 30px;
    padding: 10px 20px;
    border: none;
    background-color: #055207;
    color: white;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .buttonText {
    font-size: 15px;
    font-weight: bold;
  }
  
  .gpaText {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  